img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
    background-color: white;
    border-radius: 5%;
  }
}

@media (max-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px solid #6e002b;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
  }
}

h1 {
}

h2 {
}

h3 {
}

p {
}

/*************** body*********************/
body {
  background: rgb(253, 244, 234);
  background: linear-gradient(90deg, rgba(253, 244, 234, 1) 0%, rgb(211, 102, 142) 39%, rgb(255, 0, 132) 100%);
  margin: 0;
}
