.sprog {
  font-family: neue-kabel, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.sprog2 {
  font-family: neue-kabel, sans-serif;
  font-style: normal;
}

.faerdigheder {
  font-family: neue-kabel, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.faerdigheder2 {
  font-family: neue-kabel, sans-serif;
  font-style: normal;
}

.center {
  text-align: center;
}

.boks {
  background-color: rgba(255, 246, 222, 0.499);
  padding: 5% 5% 5% 5%;
  margin: 5% 5% 5% 5%;
}

.billedemargin {
  margin: 5% 5% 5% 5%;
}

footer p {
  color: rgba(255, 246, 222);
  text-align: center;
  margin: 5% 5% 5% 5%;
  padding: 0 20% 0 20%;
  font-size: 0.8rem;
  margin-block: 1rem;
}

.kasse {
  background-color: #f7b20573;
  padding: 2% 2% 2% 2%;
  margin-bottom: 5%;
}
